.DS_Store
/out
/repl
/target
/targets
/lib
/classes
/checkouts
/bin
pom.xml
*.jar
*.class
.lein-*
.nrepl-*
.idea
.idea/*

resources/public/js/coming_soon.js
resources/public/img/falklands.jpg
resources/public/img/ferret.jpg
