{
	:coming-soon
	{	
		:admin-user "admin"
		:admin-password "change_me!"
		:instance-prefix "sb" ; make this unique if you are sharing a redis instance w/ another coming-soon instance
	}
	:landing-page
	{	
		;; copy
		:page-title "Silver Bullet | Launching soon!"
		:app-title "Silver Bullet"
		:app-tagline "Clojure powered bad-assery!"
		:app-summary "With Silver Bullet, all your problems are gone. Silver Bullet smacks your problems around a bit, and then sends them packing. You want it. You need it."
		:instructions "We'll notify you when it's ready."
		:placeholder "Email Address*" ; OK to be blank
		:sign-up-btn "Sign up"
		:spam-msg "* We won't spam you. We hate spam as much as you do." ; OK to be blank
		:thank-you "Thank you! We'll be in touch soon."
		:copyright "&copy; 2013 Clojurific Studios" ; OK to be blank

		;; fonts
		;; see font advice at http://designshack.net/articles/css/10-great-google-font-combinations-you-can-copy/
		;; see http://code.google.com/webfonts for available fonts
		:app-title-font "Droid Sans" ; Google web font
		:app-title-backup-fonts "Arial,Helvetica,sans-serif" ; Web-safe fonts
		:body-font "Droid Serif" ; Google web font
		:body-backup-fonts "Georgia,serif" ; Web-safe fonts

		;; colors
		:bg-color "#403727" ; brown
		:container-bg-color "#EEE" ; light grey
		:app-title-color "#63A687" ; greenish
		:app-tagline-color "#000" ; black
		:app-summary-color "#000" ; black
		:instructions-color "#000" ; black
		:sign-up-btn-class "btn-success" ; see http://twitter.github.com/bootstrap/base-css.html#buttons
		:spam-msg-color "#646464" ; dark grey
		:thank-you-color "#63A687" ; greenish
		:copyright-color "#646464" ; dark grey
		:social-color "#646464" ; dark grey
		:social-hover-color "#63A687" ; greenish

		;; social stuff
		:twitter-url "http://twitter.com/snootymonkey" ; OK to be blank
		:facebook-url "https://www.facebook.com/bubbletimer" ; OK to be blank
		:github-url "https://github.com/SnootyMonkey"
		:blog-url "http://blog.snootymonkey.com/" ; OK to be blank
		:blog-feed "" ; OK to be blank

		;; analytics
		:google-analytics-key "" ; OK to be blank
	}
}