{
	:coming-soon
	{	
		:instance-prefix "sb" ; change if you are sharing a redis instance w/ another coming-soon instance
		:admin-user "admin"
		:admin-password "change_me!"
	}
	:landing-page
	{	
		;; copy
		:page-title "Silver Bullet | Launching soon!"
		:app-title "Silver Bullet"
		:app-tagline "Clojure powered bad-assery!"
		:app-summary "With Silver Bullet, all your problems are a thing of the past. Silver Bullet takes your problems, smacks them around a bit, and then sends them packing. You want it. You need it."
		:instructions "Enter your email address and we'll notify you when it's ready."
		:placeholder "Email Address*" ; OK to be blank
		:sign-up-btn "Sign up"
		:spam-msg "* We won't spam you. We hate spam as much as you do." ; OK to be blank
		:thank-you "Thank you for your interest in Silver Bullet. We'll be in touch soon!"
		:copyright "" ; OK to be blank

		;; styles
		:bg-color "#403727"
		;; see font advice at http://designshack.net/articles/css/10-great-google-font-combinations-you-can-copy/
		:app-title-font "Droid Sans" ; see http://code.google.com/webfonts for available fonts
		:body-font "Droid Serif" ; see http://code.google.com/webfonts for available fonts

		;; social stuff
		:twitter-handle ""
		:app-dot-net-handle ""
		:facebook-page ""

		:google-analytics-key ""
	}
}