{
  :coming-soon
  { 
    :admin-user "admin" ; CHANGE THIS!
    :admin-password "change_me!" ; CHANGE THIS!
    :instance-prefix "coming-soon" ; make this unique if you are sharing a single redis instance w/ another coming-soon instance
  }
  :redis
  {
    ;; If you're running Redis locally on the same machine and the default 6379 port, leave everything in this section commented out

    ;; HEROKU REDIS - uncomment the selected provider (remove the ;;)
    ;; :redis-env-variable "REDISCLOUD_URL" ; Comment in for Redis Cloud on Heroku
    ;; :redis-env-variable "REDISTOGO_URL" ; Comment in for Redis To Go on Heroku
    ;; :redis-env-variable "OPENREDIS_URL" ; Comment in for openredis on Heroku
    ;; :redis-env-variable "REDISGREEN_URL" ; Comment in for RedisGreen on Heroku

    ;; SELF HOSTED REDIS
    ;; A different port on the local machine might be: redis://localhost:7000/
    ;; The default port, but on a different server might be: redis://10.1.0.70/ 
    ;; Local on the default port, but with authentication might be: redis://admin:supersecret@localhost/
    ;; Uncomment (remove the ;;) the line below for self-hosted redis that's not on port 6379 of localhost
    ;; :redis-connect-URL "redis://user:pass@host:port/"
  }
  :landing-page
  { 
    ;; Copy
    :page-title "Silver Bullet | Launching soon!"
    :app-title "Silver Bullet"
    :app-tagline "Clojure powered bad-assery!"
    :app-summary "With Silver Bullet, all your problems are gone.<br>Silver Bullet smacks your problems around a bit, then sends them packing.<br>You want it. You need it."  ; OK to be blank
    :instructions "We'll notify you when it's ready."
    :placeholder "Email Address*" ; OK to be blank
    :sign-up-btn "Sign up"
    :spam-msg "* We won't spam you. We hate spam as much as you do." ; OK to be blank
    :thank-you "Thank you! We'll be in touch soon."
    :error "Sorry! Our system is temporarily down, please try again later."
    :copyright "&copy; 2015 Clojurific Studios" ; OK to be blank

    ;; Fonts

    ;; see font advice at:
    ;; http://designshack.net/articles/css/10-great-google-font-combinations-you-can-copy/
    ;; http://designshack.net/articles/typography/10-more-great-google-font-combinations-you-can-copy/
    ;; http://www.insquaremedia.com/blog/15-web-design-stuff/50-our-favourite-google-font-combinations
    
    ;; see http://code.google.com/webfonts for available fonts
    :app-title-font "Droid Sans" ; Google web font
    :app-title-backup-fonts "Arial,Helvetica,sans-serif" ; Web-safe fonts
    :body-font "Droid Serif" ; Google web font
    :body-backup-fonts "Georgia,serif" ; Web-safe fonts

    ;; Images
    :logo "/img/logo.png" ; OK to be blank
    :background-image "" ; OK to be blank

    ;; Colors
    :background-color "#403727" ; brown
    :container-bg-color "#EEE" ; light grey
    :container-opacity "1" ; 1 for solid, 0 for no container, 0.x for some transparency
    :app-title-color "#63A687" ; greenish
    :app-tagline-color "#000" ; black
    :app-summary-color "#000" ; black
    :instructions-color "#000" ; black
    :spam-msg-color "#646464" ; dark grey
    :thank-you-color "#63A687" ; greenish
    :error-color "#F00" ; red
    :copyright-color "#646464" ; dark grey
    :social-color "#646464" ; dark grey
    :social-hover-color "#63A687" ; greenish

    ;; Signup button
    :signup-btn-icon "icon-envelope-alt" ; see http://fortawesome.github.com/Font-Awesome/ OK to be blank
    :signup-btn-class "btn-success" ; see http://twitter.github.com/bootstrap/base-css.html#buttons

    ;; Social stuff
    :twitter-url "http://twitter.com/snootymonkey" ; OK to be blank
    :twitter-title "Follow Snooty Monkey on Twitter" ; OK to be blank
    :app-net-url "http://alpha.app.net/snootymonkey" ; OK to be blank
    :app-net-title "Follow Snooty Monkey on App.net" ; OK to be blank
    :facebook-url "https://www.facebook.com/bubbletimer" ; OK to be blank
    :facebook-title "BubbleTimer is on Facebook" ; OK to be blank
    :github-url "https://github.com/SnootyMonkey" ; OK to be blank
    :github-title "Snooty Monkey's open source GitHub repositiories" ; OK to be blank
    :blog-url "http://blog.snootymonkey.com/" ; OK to be blank
    :blog-title "Subscribe to Monkey Opus, the Snooty Monkey blog" ; OK to be blank
    :blog-feed "http://feeds.feedburner.com/snootymonkey" ; OK to be blank

    ;; Analytics
    :analytics false ; include the analytics snippet in src/coming-soon/templates/analytics.html
  }
}