{
  :coming-soon
  { 
    :admin-user "admin"
    :admin-password "change_me!"
    :instance-prefix "ferret" ; make this unique if you are sharing a redis instance w/ another coming-soon instance
  }
  :landing-page
  { 
    ;; copy
    :page-title "IdeaFerret | Launching soon!"
    :app-title "IdeaFerret"
    :app-tagline "Find Your Best Idea"
    :app-summary "Uqiquitous Idea Capture + Rigorous and Systematic Evaluation = Your Best Idea"  ; OK to be blank
    :instructions "Here's an idea! We can notify you when it's ready."
    :placeholder "you@email.com" ; OK to be blank
    :sign-up-btn "Sign up"
    :spam-msg "" ; OK to be blank
    :thank-you "Thank you! We'll be in touch soon."
    :copyright "&copy; 2013 Snooty Monkey LLC" ; OK to be blank

    ;; fonts
    ;;
    ;; see font advice at:
    ;; http://designshack.net/articles/css/10-great-google-font-combinations-you-can-copy/
    ;; http://designshack.net/articles/typography/10-more-great-google-font-combinations-you-can-copy/
    ;; http://www.insquaremedia.com/blog/15-web-design-stuff/50-our-favourite-google-font-combinations
    ;;
    ;; see http://code.google.com/webfonts for available fonts
    :app-title-font "Bree Serif" ; Google web font
    :app-title-backup-fonts "Georgia,serif" ; Web-safe fonts
    :body-font "Open Sans" ; Google web font
    :body-backup-fonts "Arial,Helvetica,sans-serif" ; Web-safe fonts

    ;; images
    :logo "" ; OK to be blank
    :background-image "/img/ferret.jpg" ; OK to be blank

    ;; colors
    :background-color "#FFF" ; white
    :container-bg-color "#FFF" ; white
    :container-opacity "0" ; 1 for solid, 0 for no container, 0.x for some transparency
    :app-title-color "#63A687" ; greenish
    :app-tagline-color "#000" ; black
    :app-summary-color "#000" ; black
    :instructions-color "#000" ; black
    :spam-msg-color "#646464" ; dark grey
    :thank-you-color "#63A687" ; greenish
    :copyright-color "#646464" ; dark grey
    :social-color "#646464" ; dark grey
    :social-hover-color "#63A687" ; greenish

    ;; signup button
    :signup-btn-icon "icon-lightbulb" ; see http://fortawesome.github.com/Font-Awesome/ OK to be blank
    :signup-btn-class "btn-inverse" ; see http://twitter.github.com/bootstrap/base-css.html#buttons

    ;; social stuff
    :twitter-url "http://twitter.com/ideaferret" ; OK to be blank
    :facebook-url "" ; OK to be blank
    :github-url "" ; OK to be blank
    :blog-url "http://blog.snootymonkey.com/" ; OK to be blank
    :blog-feed "" ; OK to be blank

    ;; analytics
    :google-analytics-key "" ; OK to be blank
  }
}