/* Page structure - Sticky footer details at http://www.martinbean.co.uk/bootstrap/sticky-footer/ */

html,body {
	height: 100%;
}
 
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px;
}

div#main-container {
	margin-top: 50px;
	padding: 35px;
	max-width: 650px;
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

span#thank-you {
	display: none;
}

span#error-message {
	display: none;
}

#push {
	height: 100px; /* adjust the size of push as need be to keep your footer below your content */
}

#footer {
	height: 80px;
}

/* Page visual details */

img.logo {
	vertical-align: baseline;
	margin-right: 5px;
}

h1 {
	font-size: 5.5em;
	line-height: 1em;
}

h2 {
	font-size: 2.5em;
	line-height: 1.5em;
}

h3 {
	font-weight: normal;
	font-size: 1.5em;
}

p#app-summary {
	margin: 0 30px 0 30px;
}

p#spam-msg {
	font-style: italic;	
}

div#social {
	margin-top: 20px;
	text-align: center;
}

ul#social-links li {
	margin: 0 10px 0 10px;
	display: inline;
	list-style: none;
}

div#social a {
	text-decoration: none;
}

div#footer {
	text-align: center;
}