{
  :coming-soon
  { 
    :admin-user "admin"
    :admin-password "change_me!"
    :instance-prefix "falklands" ; make this unique if you are sharing a redis instance w/ another coming-soon instance
  }
  :landing-page
  { 
    ;; copy
    :page-title "Falklandsophile | Launching soon!"
    :app-title "Falklandsophile"
    :app-tagline "The Complete Guide to<br>Falkland Islands Resources"
    :app-summary "" ; OK to be blank
    :instructions "Give us your email, and we'll let you know when it's ready."
    :placeholder "Email Address*" ; OK to be blank
    :sign-up-btn "Sign up"
    :spam-msg "* We won't spam you. We hate spam as much as you do." ; OK to be blank
    :thank-you "Thank you! We'll be in touch soon."
    :copyright "&copy; 2013 Snooty Monkey, LLC" ; OK to be blank

    ;; fonts
    ;;
    ;; see font advice at:
    ;; http://designshack.net/articles/css/10-great-google-font-combinations-you-can-copy/
    ;; http://designshack.net/articles/typography/10-more-great-google-font-combinations-you-can-copy/
    ;; http://www.insquaremedia.com/blog/15-web-design-stuff/50-our-favourite-google-font-combinations
    ;;
    ;; see http://code.google.com/webfonts for available fonts
    :app-title-font "Dancing Script" ; Google web font
    :app-title-backup-fonts "Georgia, Times, serif" ; Web-safe fonts
    :body-font "Josefin Sans" ; Google web font
    :body-backup-fonts "Helvetica, Arial, sans-serif" ; Web-safe fonts

    ;; images
    :logo "" ; OK to be blank
    :background-image "/img/falklands.jpg" ; OK to be blank

    ;; colors
    :background-color "#675031" ; brown
    :container-bg-color "#EAFCFE" ; light green
    :container-opacity "0.9" ; 1 for solid, 0 for no container, 0.x for some transparency
    :app-title-color "#462A1C" ; dark brown
    :app-tagline-color "#462A1C" ; dark brown
    :app-summary-color "#462A1C" ; dark brown
    :instructions-color "#462A1C" ; dark brown
    :spam-msg-color "#646464" ; dark grey
    :thank-you-color "#63A687" ; greenish
    :copyright-color "#EAFCFE" ; light green
    :social-color "#96bfdb" ; sky blue
    :social-hover-color "#462a1c" ; dark brown

    ;; signup button
    :signup-btn-icon "icon-envelope-alt" ; see http://fortawesome.github.com/Font-Awesome/ OK to be blank
    :signup-btn-class "btn-info" ; see http://twitter.github.com/bootstrap/base-css.html#buttons

    ;; social stuff
    :twitter-url "" ; OK to be blank
    :facebook-url "" ; OK to be blank
    :github-url "" ; OK to be blank
    :blog-url "" ; OK to be blank
    :blog-feed "" ; OK to be blank

    ;; analytics
    :google-analytics-key "" ; OK to be blank
  }
}