<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>coming-soon Administration</title>
		<!-- Reset IE -->
		<!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

		<!-- Google Fonts -->
		<link id="google-title-font" rel="stylesheet" type="text/css">

		<!-- Twitter Boostrap -->
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">

		<!-- Bootstrap icon fonts -->
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">

		<!-- coming-soon CSS -->
		<link rel="stylesheet" href="css/admin.css" type="text/css" media="screen">

		<!-- CSS styles from the configuration file -->
		<style id="configured-styles" type="text/css" media="screen"></style>

		<!-- Custom CSS overrides -->
		<link rel="stylesheet" href="css/custom.css" type="text/css" media="screen">

	</head>
	<body>
		<div id="main-container" class="container">
			<h1 id="app-title"></h1>
			<table class="table table-striped table-hover table-condensed contacts"
				<thead>
					<tr>
						<th>#</th>
						<th>email</th>
						<th>referrer</th>
						<th>when</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>foo@bar.com</td>
						<td>http://bar.com/</td>
						<td>1/13/2013</td>
					</tr>
				</tbody>
			</table>
			<p class="muted text-left">Export:
				<a href="/contacts.json">JSON</a>,
				<a href="/contacts.xml">XML</a>,
				<a href="/contacts.csv">CSV</a></p>
		</div>

		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		
		<!-- cljsbuild generated js file -->
		<script src="js/coming_soon.js"></script>
	</body>
</html>