<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<!-- Reset IE -->
		<!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

		<!-- Google Fonts -->
		<link id="google-title-font" rel="stylesheet" type="text/css">
		<link id="google-body-font" rel='stylesheet' type='text/css'>

		<!-- Twitter Boostrap -->
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">

		<!-- Bootstrap icon fonts -->
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">

		<!-- coming-soon CSS -->
		<link rel="stylesheet" href="css/coming-soon.css" type="text/css" media="screen">

		<!-- CSS styles from the configuration file -->
		<style id="configured-styles" type="text/css" media="screen"></style>

		<!-- Custom CSS overrides -->
		<link rel="stylesheet" href="css/custom.css" type="text/css" media="screen">
	</head>
	<body>

		<!-- container for data on the background image(s) -->
		<div id="bg-image"></div>

		<!-- content -->
		<div id="wrap">
		  
			<div id="main-container" class="container">
		
				<h1><img class="logo" class="logo" alt="Logo"><span id="app-title"></span></h1>
			
				<h2><span id="app-tagline"></span></h2>
			
				<p id="app-summary"></p>

				<h3><span id="instructions"></span></h3>
				<h3><span id="thank-you"></span></h3>

				<div id="form_div" class="control-group">
				  <form id="subscribe" class="form-inline">
				    <input id="email" type="email" class="input-large" name="email" required/>
				    <input id="referrer" type="hidden" name="refrerrer"/>
				    <button id="submit" type="submit" class="btn"></button>
				  </form>
				</div>

				<p id="spam-msg"></p>

				<div id="social">
					<ul id="social-links"></ul>
				</div>

			</div>

			<div id="push"></div>

		</div>

		<!-- footer -->
		<div id="footer">
		 	<div class="container">
				<p id="copyright"></p>
			</div>
		</div>

		<!-- jQuery -->
		<script src="//code.jquery.com/jquery.js"></script>
		<!-- jQuery Backstretch - https://github.com/srobbin/jquery-backstretch -->
		<!-- You can comment this line out if you aren't using a background image -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.3/jquery.backstretch.min.js"></script>
		<!-- cljsbuild generated js file -->
		<script src="js/coming_soon.js"></script>
	</body>
</html>