<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<!-- Reset IE -->
		<!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<!-- Google Fonts -->
		<link id="google-title-font" rel="stylesheet" type="text/css">
		<link id="google-body-font" rel='stylesheet' type='text/css'>
		<!-- Twitter Boostrap -->
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
		<!-- Bootstrap icon fonts -->
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" rel="stylesheet">
		<!-- coming-soon CSS -->
		<link rel="stylesheet" href="css/coming-soon.css" type="text/css" media="screen">
		<!-- Customize CSS overrides -->
		<link rel="stylesheet" href="css/custom.css" type="text/css" media="screen">
	</head>
	<body>
	
		<div id="main-container" class="container">

			<h1><img class="logo" src="img/logo.png" alt="Logo - http://openclipart.org/detail/64963/cartoon-bullet-by-laobc"><span id="app-title"></span></h1>
			
			<h2><span id="app-tagline"></span></h2>
			
			<p id="app-summary"></p>

			<h3><span id="instructions"></span></h3>
			
			<div id="form_div" class="control-group">
			  <form id="subscribe" class="form-inline">
			    <input id="email" type="email" class="input-large" name="email" required/>
			    <input id="referrer" type="hidden" name="refrerrer"/>
			    <button id="submit" type="submit" class="btn btn-success"></button>
			  </form>
			</div>

			<p id="spam-msg"></p>

		</div>

		<!-- jQuery -->
		<script src="http://code.jquery.com/jquery.js"></script>
		<!-- cljsbuild generated js file -->
		<script src="js/coming_soon.js"></script>
	</body>
</html>